 .u-section-1 {
  --color-var: #e1d0b7;
}

.u-section-1 .u-sheet-1 {
  min-height: 479px;
}

.u-section-1 .u-text-1 {
  margin: 0 16px 0 600px;
}

.u-section-1 .u-form-1 {
  height: 406px;
  margin: -359px 570px 0 0;
}

.u-section-1 .u-btn-1 {
  --color-var: #756363;
  background-image: none;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  width: 140px;
  margin: -32px 400px 60px auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 416px;
  }

  .u-section-1 .u-form-1 {
    width: 470px;
    margin-top: 20px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-1 .u-text-1 {
    width: 524px;
    margin-top: 406px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: -759px;
    margin-right: 152px;
    margin-left: 98px;
  }

  .u-section-1 .u-social-icons-1 {
    margin: 359px auto 30px 98px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -689px;
    margin-left: 8px;
    margin-right: 62px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 386px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -739px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 317px;
    margin-bottom: 9px;
    margin-left: 0;
  }
}