.u-section-1 .u-sheet-1 {
  min-height: 537px;
}

.u-section-1 .u-text-1 {
  margin: 9px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 12px;
  margin-bottom: 24px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 449px;
  grid-auto-columns: calc(33.3333% - 20px);
  --gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 11px 30px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-style: normal;
  margin: 50px 30px 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 11px 30px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-style: normal;
  margin: 50px 30px 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 11px 30px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-style: normal;
  margin: 50px 30px 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 11px 30px 0;
}

.u-section-1 .u-text-9 {
  margin: 50px 30px 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 11px 30px 0;
}

.u-section-1 .u-text-11 {
  margin: 50px 30px 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 11px 30px 0;
}

.u-section-1 .u-text-13 {
  margin: 50px 30px 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 157px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 205px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-left: 170px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 11px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
    margin-right: 69px;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 16px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 11px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -36px;
    margin-right: -36px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 14px;
  }
} .u-section-2 {
  background-image: none;
  --color-var: #ffffff;
}

.u-section-2 .u-sheet-1 {
  min-height: 544px;
}

.u-section-2 .u-text-1 {
  margin: 2px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 449px;
  grid-auto-columns: calc(33.3333% - 20px);
  --gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 31px 30px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-5 {
  margin: -673px -594px 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 661px 30px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-8 {
  margin: -673px -594px 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 661px 30px 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  margin: 20px 30px 0;
}

.u-section-2 .u-text-11 {
  margin: -673px -594px 0 auto;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 661px 30px 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  margin: 20px 30px 0;
}

.u-section-2 .u-text-14 {
  margin: -673px -594px 0 auto;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  margin: 661px 30px 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  --radius: 35px;
  --color-var: #eae5df;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  margin: 20px 30px 0;
}

.u-section-2 .u-text-17 {
  margin: -673px -594px 0 auto;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  margin: 661px 30px 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 157px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 205px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-gap: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 57px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}