 .u-section-1 {
  background-image: url("/images/vermicompost-hero-page.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 248px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 41px 321px 0 31px;
}

.u-section-1 .u-text-2 {
  margin: 19px 330px 0 31px;
}

.u-section-1 .u-text-3 {
  margin: 31px 994px 0 31px;
}

.u-section-1 .u-list-icon-1 {
  --text-color-var: #1d4a1b;
}

.u-section-1 .u-text-4 {
  margin: -29px 788px 0 195px;
}

.u-section-1 .u-list-icon-2 {
  --text-color-var: #1d4a1b;
}

.u-section-1 .u-text-5 {
  margin: -29px 557px 0 393px;
}

.u-section-1 .u-list-icon-3 {
  --text-color-var: #1d4a1b;
}

.u-section-1 .u-text-6 {
  margin: -29px 374px 31px 651px;
}

.u-section-1 .u-list-icon-4 {
  --text-color-var: #1d4a1b;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 276px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 244px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 825px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 600px;
    margin-left: 183px;
  }

  .u-section-1 .u-text-5 {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 210px;
    margin-bottom: 30px;
    margin-left: 615px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 38px;
    margin-right: 87px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    margin-right: 131px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 25px;
    margin-right: 605px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 398px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 170px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 19px;
    margin-bottom: 32px;
    margin-left: 586px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 87px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
    margin-right: 442px;
    margin-left: -17px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -26px;
    margin-right: 285px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -26px;
    margin-right: 95px;
    margin-left: 255px;
  }

  .u-section-1 .u-text-6 {
    margin: -26px -28px 26px 453px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 17px;
    margin-right: 81px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 17px;
    margin-right: 183px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -68px;
    margin-right: -28px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-6 {
    margin: 17px 47px 24px 178px;
  }
} .u-section-2 {
  --color-var: #f5f6ef;
}

.u-section-2 .u-sheet-1 {
  min-height: 123px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  --text-color-var: #1d4a1b;
  font-size: 1.5rem;
  margin: 46px auto 0 0;
}

.u-section-2 .u-image-1 {
  --radius: 10px;
  width: 115px;
  height: 39px;
  margin: -32px auto 0 192px;
}

.u-section-2 .u-image-2 {
  --radius: 10px;
  width: 188px;
  height: 39px;
  margin: -39px auto 0 347px;
}

.u-section-2 .u-btn-1 {
  --radius: 6px;
  font-size: 1.25rem;
  box-shadow: none;
  --color-var: #1d4a1b;
  background-image: none;
  --border-color-var: #1d4a1b;
  text-transform: none;
  margin: -52px 333px 0 auto;
  padding: 17px 13px 19px;
}

.u-section-2 .u-btn-2 {
  --radius: 6px;
  font-size: 1.25rem;
  box-shadow: none;
  --text-color-var: #000000;
  --color-var: #1d4a1b;
  background-image: none;
  --border-color-var: #1d4a1b;
  text-transform: none;
  margin: -67px 0 27px auto;
  padding: 18px 11px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-2 .u-image-1 {
    width: 97px;
    height: 33px;
    margin-top: -29px;
    margin-left: 170px;
  }

  .u-section-2 .u-image-2 {
    width: 164px;
    height: 33px;
    margin-top: -36px;
    margin-left: 306px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: -41px;
    margin-right: 267px;
    padding: 10px 10px 12px 9px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: -51px;
    margin-right: -31px;
    margin-bottom: 22px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 80px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 28px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -24px;
    margin-left: 119px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 216px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: -36px;
    margin-right: 205px;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: -40px;
    margin-right: -33px;
    margin-bottom: 20px;
    padding: 9px 9px 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -26px;
    margin-left: 149px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -33px;
    margin-right: 63px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 27px;
    margin-right: auto;
    margin-left: 135px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -42px;
    margin-right: 15px;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: 30px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -25px;
    margin-left: 103px;
  }

  .u-section-2 .u-image-2 {
    margin-right: -24px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
    padding-right: 66px;
    padding-left: 65px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 18px;
    margin-right: auto;
    margin-bottom: 23px;
    padding-right: 23px;
    padding-left: 22px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 476px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 410px;
  filter: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  --radius: 10px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-3 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  --text-color-var: #1d4a1b;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 29px auto 0 0;
}

.u-section-3 .u-list-icon-1 {
  --text-color-var: #1d4a1b;
}

.u-section-3 .u-list-icon-2 {
  --text-color-var: #1d4a1b;
}

.u-section-3 .u-list-icon-3 {
  --text-color-var: #1d4a1b;
}

.u-section-3 .u-list-icon-4 {
  --text-color-var: #1d4a1b;
}

.u-section-3 .u-list-icon-5 {
  --text-color-var: #1d4a1b;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 21px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 19px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 27px;
    margin-left: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-bottom: 23px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  --color-var: #f5f6ef;
}

.u-section-4 .u-sheet-1 {
  min-height: 262px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 214px;
  --radius: 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  --text-color-var: #1d4a1b;
  font-size: 1.5rem;
  margin: 15px 308px 0 39px;
}

.u-section-4 .u-shape-1 {
  width: 103px;
  height: 103px;
  --border-color-var: #1d4a1b;
  margin: 20px auto 0 39px;
}

.u-section-4 .u-image-1 {
  width: 38px;
  height: 43px;
  margin: -73px auto 0 72px;
}

.u-section-4 .u-shape-2 {
  --border-color-var: #1d4a1b;
  --color-var: #f8f5ee8c;
  height: 103px;
  width: 103px;
  margin: -73px auto 0 162px;
}

.u-section-4 .u-shape-3 {
  width: 103px;
  height: 103px;
  --border-color-var: #1d4a1b;
  --color-var: #f8f5ee8c;
  margin: -103px auto 0 285px;
}

.u-section-4 .u-image-2 {
  --radius: 10px;
  width: 45px;
  height: 51px;
  margin: -80px auto 0 191px;
}

.u-section-4 .u-group-1 {
  width: 61px;
  --radius: 20px;
  height: auto;
  --color-var: #1d4a1b;
  min-height: 33px;
  margin: 5px auto 0 183px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 2px auto 0;
}

.u-section-4 .u-shape-4 {
  width: 103px;
  height: 103px;
  --border-color-var: #1d4a1b;
  --color-var: #f8f5ee8c;
  margin: -111px auto 0 407px;
}

.u-section-4 .u-group-2 {
  width: 61px;
  --radius: 20px;
  height: auto;
  --color-var: #1d4a1b;
  min-height: 33px;
  margin: -24px auto 0 306px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 0 6px;
}

.u-section-4 .u-group-3 {
  width: 61px;
  --radius: 20px;
  height: auto;
  --color-var: #1d4a1b;
  min-height: 33px;
  margin: -32px auto 0 428px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 5px;
}

.u-section-4 .u-text-4 {
  margin: 0 2px;
}

.u-section-4 .u-image-3 {
  --radius: 10px;
  width: 52px;
  height: 59px;
  margin: -98px auto 0 310px;
}

.u-section-4 .u-image-4 {
  --radius: 10px;
  width: 61px;
  height: 70px;
  margin: -65px auto 0 428px;
}

.u-section-4 .u-group-4 {
  width: 70px;
  --radius: 20px;
  height: auto;
  --color-var: #1d4a1b;
  min-height: 33px;
  margin: 0 auto 0 60px;
}

.u-section-4 .u-container-layout-5 {
  padding: 1px 0;
}

.u-section-4 .u-text-5 {
  margin: 0 13px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 214px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 26px 11px;
}

.u-section-4 .u-text-6 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 0 auto 0 315px;
}

.u-section-4 .u-list-icon-1 {
  --text-color-var: #1d4a1b;
}

.u-section-4 .u-list-icon-2 {
  --text-color-var: #1d4a1b;
}

.u-section-4 .u-list-icon-3 {
  --text-color-var: #1d4a1b;
}

.u-section-4 .u-list-icon-4 {
  --text-color-var: #1d4a1b;
}

.u-section-4 .u-icon-1 {
  width: 66px;
  height: 66px;
  --color-var: #1d4a1b;
  --text-color-var: #274214;
  color: rgb(39, 66, 20) !important;
  margin: -105px auto 0 0;
  padding: 6px;
}

.u-section-4 .u-text-7 {
  --text-color-var: #1d4a1b;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -66px 240px 0 82px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-right: 210px;
    margin-left: 20px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 42px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -76px;
    margin-left: 140px;
  }

  .u-section-4 .u-shape-3 {
    margin-right: 133px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -77px;
    margin-left: 169px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 7px;
    margin-left: 159px;
    height: auto;
  }

  .u-section-4 .u-shape-4 {
    width: 102px;
    height: 102px;
    margin-top: -117px;
    margin-right: 4px;
    margin-left: auto;
  }

  .u-section-4 .u-group-2 {
    margin-top: -15px;
    margin-right: 154px;
    margin-left: auto;
    height: auto;
  }

  .u-section-4 .u-group-3 {
    margin-top: -37px;
    margin-right: 24px;
    margin-left: auto;
    height: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: -97px;
    margin-right: 158px;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    margin-top: -70px;
    margin-right: 24px;
    margin-left: auto;
  }

  .u-section-4 .u-group-4 {
    margin-top: 5px;
    margin-left: 29px;
    height: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 1px;
    margin-right: 0;
    margin-left: -8px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 182px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 2px;
    margin-left: 201px;
  }

  .u-section-4 .u-icon-1 {
    width: 62px;
    height: 62px;
    margin-top: -146px;
    margin-left: 70px;
    padding: 4px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 9px;
    margin-right: 206px;
    margin-left: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 195px;
    margin-left: 39px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 20px;
    margin-left: 53px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -70px;
    margin-left: 85px;
  }

  .u-section-4 .u-shape-2 {
    margin-left: 211px;
  }

  .u-section-4 .u-shape-3 {
    margin-right: 79px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -78px;
    margin-left: 240px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 8px;
    margin-left: 232px;
  }

  .u-section-4 .u-shape-4 {
    width: 103px;
    height: 103px;
    margin-top: -121px;
    margin-right: 245px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -19px;
    margin-right: 266px;
  }

  .u-section-4 .u-group-3 {
    margin-top: -27px;
    margin-right: 100px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -107px;
    margin-right: 271px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -59px;
    margin-right: 100px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 1px;
    margin-left: 70px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 383px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -95px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -58px;
    margin-right: 357px;
    margin-left: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 9px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 182px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-right: 225px;
    margin-left: 20px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 21px;
    margin-left: 20px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -71px;
    margin-left: 53px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -75px;
    margin-left: 152px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: -107px;
    margin-right: 148px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -75px;
    margin-left: 181px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 10px;
    margin-left: 173px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 3px;
  }

  .u-section-4 .u-shape-4 {
    margin-right: 15px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -15px;
    margin-right: 169px;
  }

  .u-section-4 .u-group-3 {
    margin-top: -31px;
    margin-right: 36px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -102px;
    margin-right: 174px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -70px;
    margin-right: 36px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 7px;
    margin-left: 37px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 8px;
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -99px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 281px;
    margin-left: 114px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 9px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 7px;
    margin-right: 153px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-4 .u-image-1 {
    width: 30px;
    height: 34px;
    margin-top: -51px;
    margin-left: 26px;
  }

  .u-section-4 .u-shape-2 {
    height: 70px;
    width: 70px;
    margin-top: -53px;
    margin-right: 92px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-3 {
    width: 70px;
    height: 70px;
    margin-top: -70px;
    margin-right: auto;
    margin-left: 94px;
  }

  .u-section-4 .u-image-2 {
    width: 33px;
    height: 38px;
    margin-top: -53px;
    margin-left: 111px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 6px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 2px;
  }

  .u-section-4 .u-shape-4 {
    width: 70px;
    height: 70px;
    margin-top: -94px;
    margin-right: 5px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -9px;
    margin-right: 94px;
  }

  .u-section-4 .u-group-3 {
    margin-right: 10px;
  }

  .u-section-4 .u-image-3 {
    width: 40px;
    height: 44px;
    margin-top: -79px;
    margin-right: 104px;
  }

  .u-section-4 .u-image-4 {
    width: 45px;
    height: 52px;
    margin-top: -52px;
    margin-right: 18px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 0;
    margin-left: 11px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 137px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-6 {
    line-height: 1.8;
    margin-top: 11px;
    margin-right: 0;
    margin-left: 178px;
  }

  .u-section-4 .u-icon-1 {
    width: 34px;
    height: 34px;
    margin-top: -108px;
    margin-left: 64px;
    padding: 1px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 11px;
    margin-right: 188px;
    margin-left: 40px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 550px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 540px;
  --text-color-var: #111111;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  --text-color-var: #1d4a1b;
  margin: 39px -3px 0 5px;
}

.u-section-5 .u-list-1 {
  width: 558px;
  --text-color-var: #111111;
  margin: 29px auto 0 0;
}

.u-section-5 .u-repeater-1 {
  --gap: 25px;
  grid-auto-columns: calc(50% - 12.5px);
  grid-template-columns: repeat(2, calc(50% - 12.5px));
  min-height: 420px;
}

.u-section-5 .u-list-item-1 {
  --color-var: #f5f6ef;
  --radius: 20px;
}

.u-section-5 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  margin: 29px 23px 0;
}

.u-section-5 .u-list-item-2 {
  --color-var: #f5f6ef;
  --radius: 20px;
}

.u-section-5 .u-container-layout-3 {
  padding: 6px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  margin: 29px 23px 0;
}

.u-section-5 .u-list-item-3 {
  --color-var: #f5f6ef;
  --radius: 20px;
}

.u-section-5 .u-container-layout-4 {
  padding: 6px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  margin: 29px 23px 0;
}

.u-section-5 .u-list-item-4 {
  --color-var: #f5f6ef;
  --radius: 20px;
}

.u-section-5 .u-container-layout-5 {
  padding: 6px 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 0.875rem;
  margin: 29px 23px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 540px;
  --border-color-var: #1d4a1b;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 11px;
}

.u-section-5 .u-text-10 {
  font-size: 1.5rem;
  --text-color-var: #1d4a1b;
  margin: 39px 0 0;
}

.u-section-5 .u-list-2 {
  width: 545px;
  margin: 29px auto 0;
}

.u-section-5 .u-repeater-2 {
  --gap: 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 420px;
}

.u-section-5 .u-list-item-5 {
  --border-color-var: #1d4a1b;
  border-style: dotted;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  --radius: 10px;
  width: 60px;
  height: 45px;
  margin: 0 auto;
}

.u-section-5 .u-text-11 {
  --text-color-var: #1d4a1b;
  font-size: 1.125rem;
  margin: 30px -10px 0;
}

.u-section-5 .u-text-12 {
  font-size: 0.875rem;
  margin: 21px -10px 0;
}

.u-section-5 .u-list-item-6 {
  --border-color-var: #1d4a1b;
  border-style: dotted;
}

.u-section-5 .u-container-layout-8 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  --radius: 10px;
  width: 60px;
  height: 45px;
  margin: 0 auto;
}

.u-section-5 .u-text-13 {
  font-size: 1.125rem;
  --text-color-var: #1d4a1b;
  margin: 30px -10px 0;
}

.u-section-5 .u-text-14 {
  font-size: 0.875rem;
  margin: 21px -10px 0;
}

.u-section-5 .u-list-item-7 {
  --border-color-var: #1d4a1b;
  border-style: dotted;
}

.u-section-5 .u-container-layout-9 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  --radius: 10px;
  width: 60px;
  height: 45px;
  margin: 0 auto;
}

.u-section-5 .u-text-15 {
  font-size: 1.125rem;
  --text-color-var: #1d4a1b;
  margin: 30px -10px 0;
}

.u-section-5 .u-text-16 {
  font-size: 0.875rem;
  margin: 21px -10px 0;
}

.u-section-5 .u-list-item-8 {
  --border-color-var: #1d4a1b;
  border-style: dotted;
}

.u-section-5 .u-container-layout-10 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  --radius: 10px;
  width: 60px;
  height: 45px;
  margin: 0 auto;
}

.u-section-5 .u-text-17 {
  font-size: 1.125rem;
  --text-color-var: #1d4a1b;
  margin: 30px -10px 0;
}

.u-section-5 .u-text-18 {
  font-size: 0.875rem;
  margin: 21px -10px 0;
}

.u-section-5 .u-list-item-9 {
  --border-color-var: #1d4a1b;
  border-style: dotted;
}

.u-section-5 .u-container-layout-11 {
  padding: 10px;
}

.u-section-5 .u-image-5 {
  --radius: 10px;
  width: 60px;
  height: 45px;
  margin: 0 auto;
}

.u-section-5 .u-text-19 {
  font-size: 1.125rem;
  --text-color-var: #1d4a1b;
  margin: 30px -10px 0;
}

.u-section-5 .u-text-20 {
  font-size: 0.875rem;
  margin: 21px -10px 0;
}

.u-section-5 .u-list-item-10 {
  --border-color-var: #1d4a1b;
  border-style: dotted;
}

.u-section-5 .u-container-layout-12 {
  padding: 10px;
}

.u-section-5 .u-image-6 {
  --radius: 10px;
  width: 60px;
  height: 45px;
  margin: 0 auto;
}

.u-section-5 .u-text-21 {
  font-size: 1.125rem;
  --text-color-var: #1d4a1b;
  margin: 30px -10px 0;
}

.u-section-5 .u-text-22 {
  font-size: 0.875rem;
  margin: 21px -10px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 11px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 651px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-5 .u-text-1 {
    width: 358px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-list-1 {
    width: 468px;
    margin-top: 37px;
    margin-left: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 504px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 14px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 14px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    --color-var: #f5f6ef;
    min-height: 651px;
  }

  .u-section-5 .u-container-layout-6 {
    padding: 8px 0;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-5 .u-list-2 {
    width: 487px;
    margin-top: 32px;
    margin-right: -17px;
  }

  .u-section-5 .u-repeater-2 {
    min-height: 531px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-14 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-16 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-18 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-20 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-22 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 15px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 709px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 1px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-list-1 {
    width: 368px;
    margin-top: 24px;
    margin-left: -9px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 586px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 709px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 1px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 34px;
  }

  .u-section-5 .u-list-2 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 591px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-5 .u-text-12 {
    margin-top: 17px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-5 .u-text-14 {
    margin-top: 17px;
  }

  .u-section-5 .u-text-15 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-5 .u-text-16 {
    margin-top: 17px;
  }

  .u-section-5 .u-text-17 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-5 .u-text-18 {
    margin-top: 17px;
  }

  .u-section-5 .u-text-19 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-5 .u-text-20 {
    margin-top: 17px;
  }

  .u-section-5 .u-text-21 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-5 .u-text-22 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.5px);
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 452px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 38px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 38px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 38px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 9px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-top: 38px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 7px;
  }

  .u-section-5 .u-list-2 {
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-2 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 454px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 17px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 22px;
    margin-bottom: -10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 518px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 19px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 19px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: 19px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-8 {
    margin-top: 19px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 737px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-10 {
    margin-top: 47px;
  }

  .u-section-5 .u-list-2 {
    margin-top: 31px;
    margin-bottom: -44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 650px;
  }
}